<p id="notice"><%= notice %></p>

<dl class="row">
  <dt class="col-sm-2">External service:</dt>
  <dd class="col-sm-10"><%= link_to @meeting.external_service.service_name, @meeting.external_service %></dd>

  <dt class="col-sm-2">Title:</dt>
  <dd class="col-sm-10"><%= @meeting.title %></dd>

  <dt class="col-sm-2">Description:</dt>
  <dd class="col-sm-10"><%= @meeting.Description %></dd>

  <dt class="col-sm-2">Start at:</dt>
  <dd class="col-sm-10"><%= @meeting.start_at %></dd>

  <dt class="col-sm-2">End at:</dt>
  <dd class="col-sm-10"><%= @meeting.end_at %></dd>

  <dt class="col-sm-2">Extras:</dt>
  <dd class="col-sm-10"><%= @meeting.Extras %></dd>
</dl>

<%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn btn-primary" %> 
<%= link_to 'Back', meetings_path, class: "btn btn-outline-secondary" %>
