<p id="notice"><%= notice %></p>

<h1>Users External Services</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">External service</th>
      <th scope="col">External mail</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_external_services.each do |users_external_service| %>
      <tr>
        <td class="align-middle"><%= users_external_service.user_id %></td>
        <td class="align-middle"><%= users_external_service.external_service_id %></td>
        <td class="align-middle"><%= users_external_service.external_mail %></td>
        <td class="align-middle"><%= link_to 'Show', users_external_service, class: "btn btn-outline-primary btn-sm" %></td>
        <td class="align-middle"><%= link_to 'Edit', edit_users_external_service_path(users_external_service), class: "btn btn-outline-secondary btn-sm" %></td>
        <td class="align-middle"><%= link_to 'Destroy', users_external_service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users External Service', new_users_external_service_path, class: "btn btn-primary" %>
